{#
/**
 * @file
 * Default theme implementation for a My Workbench page element.
 *
 * Available variables:
 * - element: a page element to render
 *
 */
#}

<div {{ element.attributes }}>
  <h3>{{ element.title }} </h3>
  {{ element.content }}
</div>
